wxPython @ https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-20.04/wxPython-4.2.0-cp310-cp310-linux_x86_64.whl
PyOpenGL==3.1.9
# PyOpenGL_accelerate is not required, but it is recommended.
# If installation fails, you can ignore it.
PyOpenGL_accelerate==3.1.9
